.accounts{
    max-width: 1440px;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .main-heading{
        text-align: center;
        margin: 2rem;
    }

    .user-info{
        margin: 2rem;
    }

    .user-info p{
        padding: 7px 0;
    }

    .resume-heading{
        margin: 0 2rem;
    }

    .resume-list{
        margin: 2rem;
    }

    .resume-list p{
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
    }

    .resume-list .delete-resume-btn{
        border: 2px solid rgb(165, 76, 76);
        font-weight: 700;
        background-color: rgb(225, 45, 45);
        border-radius: 15px;
        padding: 5px;
        cursor: pointer;
    }

    .resume-list .delete-resume-btn:hover{
        background-color: red;
    }



    
}

