.account-container {
    background-color: white;
    min-height: 100vh;
    padding: 2rem $padding-inline;

    .back-btn {
        @include flex($gap: 0.5rem);
        margin-bottom: 2rem;
    }
}

.account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0px 50px -12px rgb(0 0 0 / 0.25);

    .resume-section-header {
        @include flex($pos: null, $gap: 1rem);
        margin-bottom: 2rem;

        .btn {
            margin-top: 0;
        }
    }

    .main-heading {
        text-align: center;
        margin: 2rem;
    }

    .user-info {
        margin: 2rem;
    }

    .user-info p {
        padding: 7px 0;
    }

    .resume-heading {
        margin: 0 2rem;
    }
}

.account-details {
    .resume-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
        margin-top: 4rem;
    }

    .resume-list>div {
        @include flex($pos: space-between);
    }

    .btn {
        @include flex($pos: null, $gap: 0.25rem);
        position: relative;
        padding: 8px 20px;
        background: black;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        margin-top: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: 0.3s;

        &:hover {
            background: rgb(42, 41, 41);
        }
    }

    .card {
        @include flex;
        background-color: white;
        box-shadow: 0 0px 50px -6px rgb(0 0 0 / 0.25);
        border-radius: 0.5rem;
        overflow: hidden;

        &>div:first-child {
            padding: 2rem;
            background-color: $primary;
        }

        .content {
            @include flex($pos: null, $gap: 1rem, $col: true);
            flex-grow: 1;
            padding: 2rem;
            align-self: flex-start;

            .resume-name {
                font-size: 2.2rem;
            }

            .resume-qr {
                margin-top: 2rem;
                height: 200px;
                aspect-ratio: 1;
            }

            .btn-group {
                @include flex($pos: null, $gap: 1rem);
            }

            .visibility {
                @include flex($pos: null, $gap: 1rem);

                select {
                    outline: none;
                    padding: 0.2em 0.5em;
                    border: none;
                    border-bottom: 1.5px solid $primary;
                }
            }
        }

        h2,
        h3,
        p {
            color: black;
        }
    }
}

.account-not-found {
    @include flex($gap: 1rem, $col: true);
    height: 100vh;

    button {
        @include flex($gap: 0.5rem);
    }
}