.element {
    position: absolute;
    transform: translate(-50%, -50%);

    &.active {
        outline: 1.5px dashed $primary;
    }

    [contenteditable]:focus {
        outline: 0px solid transparent;
    }

    img {
        display: block;
        height: 100px;
        width: 100px;
    }

    .shape {
        height: 100px;
        width: 100px;
        background-color: $primary;
    }
}

