header {
    @include flex($pos: space-between);
    padding: 0 2rem;
    height: $header-height;
    background-color: $primary;
    color: white;

    &>div:last-child {
        @include flex($pos: null, $gap: 1rem);

        input {
            width: 200px;
            padding: 0.2em 0.5em;
            font-size: 1rem;
            font-weight: 500;
            color: white;
            outline: none;
            border: none;
            background: transparent;

            &:focus {
                outline: 1px solid white;
            }
        }
    }
}

.element-btn-group {
    @include flex($pos: null);
    height: 100%;

    &>div {
        @include flex($gap: 0.25rem);
        height: 100%;
        padding: 0 0.75rem;
        cursor: pointer;

        &:hover {
            background-color: $secondary;
        }
    }
}

@media screen and (max-width: 650px) {
    .element-btn-group {
        display: none;
    }

    header {
        padding-inline: 1rem;
    }

    .btn-group {
        @include flex($pos: null, $gap: 1rem);

        input {
            width: 120px !important;
            flex-grow: 1;
        }
    }
}