.page {
    position: relative;
    height: 500px;
    aspect-ratio: 2480 / 3508;
    background-color: white;
}

.template,
.account {
    .page {
        scale: 0.85;
        user-select: none;
    }
}