// header
$header-height: 50px;

// Padding
$padding-inline: 5rem;

// Font
$font: 'Noto Sans', sans-serif;

// Colors
$primary: #5F7BCD;
$primary-light: #E2D4FF;
$secondary: #4469d8;

// Sidebar
$sidebar-width: 250px;